/*FOOTER----------------------------------*/

footer {
  background-color: #231203;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-wrap: inherit;
  justify-content: space-between;
}

/* Estilo para el "attribution" */
.attribution{
  margin-left: 5%;
}
.attribution h4 {
  color: #FFFFFF;
  font-size: 20px;
  margin-bottom: 10px;
}

.attribution ul {
  list-style: none;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: initial;
}

.attribution li {
  margin-bottom: 8px;
}

.attribution a {
  color: #FFFFFF; /* Cambiar el color de las letras a blanco */
  text-decoration: none;
  font-size: 14px;
}

.attribution a:hover {
  color: #0071BC;
}

.attribution p{
  color: #FFFFFF;
  font-size: 8px;
  text-align: initial;
  width: 230px;
}

/* Estilo para el "about-us" */


.about-us h4 {
  color: #FFFFFF;
  font-size: 20px;
  margin-bottom: 10px;
}

.about-us p {
  color: #FFFFFF; /* Cambiar el color de las letras a blanco */
  font-size: 18px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  width: 650px;
}



/* Estilo para el "social-media" */
.social-media{
  margin-right: 5%;
}
.social-media h4{
  color: #FFFFFF;
  font-size: 20px;
  margin-bottom: 10px;
}

.social-media ul {
  list-style: none;
  padding: 0;
}

.social-media li {
  margin-bottom: 8px;

}

.social-media a {
  color: #FFFFFF; /* Cambiar el color de las letras a blanco */
  text-decoration: none;
  font-size: 14px;
}

.social-media a:hover {
  color: #0071BC;
}
