#PageGame{
    background-color: #001522;
}

section.ext-game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 800px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 4px solid white; /* Añadir borde de 1px de color negro */
}

section .content {
    width: 100%;
    height: 100%;
}
/*
#game-content{
    background-color: brown;
}*/