@font-face {
    font-family: Retro;
    src: url(../docs/Fonts/PressStart2P-Regular.ttf);
}

*{
    font-family: Retro;
    margin: 0;
    padding: 0;
}

/*HEADER----------------------------------*/

header {
    background-color: #17202A;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo img {
    width: 100px;
    height: auto;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
  }
  
  nav ul li a:hover {
    background-color: #FFFFFF;
    color: #17202A;
  }


  /*FOOTER----------------------------------*/

footer {
    background-color: #17202A;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-wrap: inherit;
    justify-content: center;
  }
  
  .logo {
    flex-basis: 50%;
    margin-bottom: 20px;
  }
  
  .logo img {
    width: 100px;
    height: auto;
  }
  
  .about-us,
  .social-media {
    flex-basis: content;
    text-align: initial;
    padding: 0 10px;
  }
  
  .about-us h4,
  .social-media h4 {
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .about-us p,
  .social-media ul {
    color: #D3D3D3;
    font-size: 14px;
  }
  
  .social-media ul {
    list-style: none;
    padding: 0;
  }
  
  .social-media li {
    margin-bottom: 8px;
  }
  
  .social-media a {
    color: #D3D3D3;
    text-decoration: none;
    font-size: 14px;
  }
  
  .social-media a:hover {
    color: #FFFFFF;
  }
  

  @media (max-width: 768px) {
    .logo img {
      width: 80px;
    }
  
    .about-us,
    .social-media {
      flex-basis: 100%;
      padding: 0;
      text-align: center;
    }
  }