
/*MENSAJE DE EXITO EN EL REGISTRO----------------*/

/* Estilos para el mensaje de registro exitoso */
#mensaje-exito {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: none;
}

#mensaje-exito p {
  margin-bottom: 10px;
}

#mensaje-exito button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#mensaje-exito button:hover {
  background-color: #555;
}

/*==============ESTILOS BODY==============*/
body{
  background-color: #0071BC;
}

#play{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#play button{
  background-color: #FCCE63;
  border: 3px solid #E18222;
  color: #E18222;
  width: 200px;
  height: 100px;
  align-items: center;
  border-radius: 20px;
  font-size: 25px;
}
#play button:hover{
  color: black;
  background-color: #f9c753;
}


#introduccion div {
  display: flex;
  justify-content: space-between; /* Ajuste para separar en tres columnas */
  align-items: center;
  
}

#introduccion img {
  width: 400px;
}

#introduccion p {
  width: 590px; /* Dividir el div en tres columnas con 20px de separación entre ellas */
  padding: 5px;
  background-color: black;
  border: 3px solid white;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  line-height: 1.4;
}

#introduccion span {
  width: 400px; /* Dividir el div en tres columnas con 20px de separación entre ellas */
}



#in1{
  height: 200px;
}
#in2{
  height: 120px;
}
#in3{
  height: 75px;
}
#in4{
  height: 35px;
}

#im1{
  position: relative;
  right: 200px;
}
#im2{
  position: relative;
  left: 200px;
}
#im3{
  position: relative;
  right: 200px;
}
#im4{
  position: relative;
  left: 200px;
}

