header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    width: 100px;
    height: auto;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
  }
  
  .registro-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .registro-form h2 {
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"],
  button[type="button"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover,
  button[type="button"]:hover {
    background-color: #555;
  }
  

  /*MENSAJE DE ERROR USUARIO EXISTENTE----------*/
  /* Agrega este código en tu archivo CSS */

.mensaje-error {
  background-color: #FFCCCC;
  border: 1px solid #FF0000;
  padding: 10px;
  margin: 20px auto;
  max-width: 400px;
  text-align: center;
}

.mensaje-error p {
  color: #FF0000;
  font-size: 16px;
  margin-bottom: 10px;
}

.mensaje-error button {
  padding: 10px 20px;
  background-color: #FF0000;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.mensaje-error button:hover {
  background-color: #CC0000;
}
