/*MENSAJE DE EXITO EN EL REGISTRO----------------*/

/* Estilos para el mensaje de registro exitoso */
#mensaje-exito {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: none;
}

#mensaje-exito p {
  margin-bottom: 10px;
}

#mensaje-exito button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#mensaje-exito button:hover {
  background-color: #555;
}

/*==============ESTILOS BODY==============*/
body {
  background-color: #0071BC;
}

#play {
  display: flex;
  justify-content: center;
  margin-top: 5vh; /* Margen superior del 5% del viewport height */
}

#play button {
  background-color: #FCCE63;
  border: 3px solid #E18222;
  color: #E18222;
  width: 200px;
  height: 100px;
  align-items: center;
  border-radius: 20px;
  font-size: 25px;
}

#play button:hover {
  color: black;
  background-color: #f9c753;
}

#introduccion div {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

#introduccion img {
  width: 25%; /* Ajustar al 20% del ancho del div padre */
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#introduccion p {
  width: 50%; /* Ajustar al 60% del ancho del div padre */
  padding: 5px;
  background-color: black;
  border: 3px solid white;
  color: white;
  font-size: 18px;
  line-height: 1.4;
}

#introduccion span {
  width: 25%; /* Ajustar al 20% del ancho del div padre */
}

#in1 {
  min-height: 200px; /* Altura mínima de 200px para el div */
}

#in2 {
  min-height: 120px; /* Altura mínima de 120px para el div */
}

#in3 {
  min-height: 75px; /* Altura mínima de 75px para el div */
}

#in4 {
  min-height: 35px; /* Altura mínima de 35px para el div */
}
