/* Estilos específicos para el formulario de registro */

/* Hacer que el body ocupe al menos la altura de la pantalla */
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.registro-form {
  max-width: 400px;
  margin: auto; /* Para centrar horizontalmente */
  margin-top: 100px; /* Espacio entre el encabezado y el formulario */
  margin-bottom: 100px;
  padding: 20px;
  background-color: #dbdbdb;
  border-radius: 4px;
}

.registro-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #17202A;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #17202A;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-buttons {
  text-align: center;
  margin-top: 20px;
}

/* Cambiar el color de fondo de los botones a #17202a */
button[type="submit"],
button[type="button"] {
  padding: 10px 20px;
  background-color: #17202a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-link{
  text-decoration: none;
  color: #fff;
}

.mensaje-error {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  text-align: center;
}

.mensaje-error button {
  background-color: #721c24;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
