.city-content{
    background-image: url('../img/Backgrouds/city_day.png');
    background-repeat: no-repeat;
    background-size: 800px 600px;
    width: 800px;
    height: 600px;
}

/* Estilos CSS para la barra de vida y mana */
.barra {
    width: 200px;
    height: 20px;
    border: 1px solid #000;
    background-color: #f0f0f0;
    position: relative;
    margin-bottom: 10px;
}

.barra-vida {
    background-color: #ff0000;
    height: 100%;
}

.barra-mana {
    background-color: #0000ff;
    height: 100%;
}

.accion{
    display: flex;
    position: relative;
    top: 270px;
}

/* Estilos CSS para el menú */
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    border: 4px solid white;
    box-sizing: border-box;
    width: 200px;
    height: 200px;

}

.opcion {
    cursor: pointer;
}

.seleccion {
    background-color: black;
    border: 5px solid white;
    box-sizing: border-box;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.confirmacion {
    background-color: black;
    border: 5px solid white;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div .opcion{
    color: white;
}