body .menugame{
    background-image: url('../../Recursos/img/Backgrouds/Menu.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.title-menu-game{
    width: 400px;
    position: relative;
    left: 200px;
    top: 200px;
}

.menugame{
    width: 800px;
    height: 600px;
}

.options-menu-game{
    position: relative;
    display: flex;
    width: 250px;
    height: 80px;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    left: 275px;
    top: 260px;
}


