section .SeleccionPersonajeMenu {
  background-image: url('../img/Backgrouds/texture.png');
  background-repeat: no-repeat;
  background-size: 800px 600px;
  width: 800px;
  height: 600px;
  color: white;
}


/* Estilo para la clase "clase" que contiene los personajes */
.clase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  flex-wrap: nowrap;
  top: 80px;
}

/* Estilo para cada personaje */
.personaje {
  text-align: center;
  width: 23%; /* Ajustar el tamaño de los personajes para que entren en una misma fila */
  margin: 10px;
}

.personaje-img {
  max-width: 100%; /* Ajustar el tamaño máximo de la imagen para que entre en el espacio del "game-content" */
}

/* Estilo para centrar "nombre-personaje" y "crear-btn" */
.nombre-personaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 180px;
}

.nombre-personaje input{
  margin-top: 20px;
  width: 200px;
  height: 20px;
}

.crear-btn {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100px;
  height: 20px;
  align-items: center;
  left: 350px;
  top: 190px;
  justify-content: center;
}

.personaje.seleccionado {
  border: 2px solid blue;
}

#text-SP{
  text-align: center;
  position: relative;
  top: 20px;
  font-size: 24px;
}